src/main/resources/META-INF/baymax.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://baymax.tongbanjie.com/schema/baymax"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool"
	targetNamespace="http://baymax.tongbanjie.com/schema/baymax">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:import namespace="http://www.springframework.org/schema/tool" />

	<xsd:annotation>
		<xsd:documentation><![CDATA[ Namespace support for the baymax services provided by baymax framework. ]]></xsd:documentation>
	</xsd:annotation>

	<xsd:element name="rule" type="ruleType" />

	<xsd:complexType name="ruleType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="beans:property" minOccurs="0" maxOccurs="unbounded" />
				</xsd:choice>
				<xsd:attribute name="physicsTablePrefix" use="required" />
				<xsd:attribute name="logicTableName" use="required" />
				<xsd:attribute name="partitionKeys" use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>